<div id="carouselExampleControls" class="carousel slide carousel-container" data-bs-ride="carousel">
  <div class="carousel-inner sliders">
    <div class="carousel-item active">
      <div class="carousel-content">
        <section>
          <h4>App Mi Bancolombia</h4>
          <h1>Descárgala Antes del 25 de marzo</h1>
          <span>Ese día apagamos la app anterior. Hazlo de una. Sin correr a última
            hora</span>
        </section>
        <img src="../../../../assets/image1.jpg" class="d-block w-100" alt="image1.jpg" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <section>
          <h4>App Mi Bancolombia</h4>
          <h1>Descárgala Antes del 25 de marzo</h1>
          <span>Ese día apagamos la app anterior. Hazlo de una. Sin correr a última
            hora</span>
        </section>
        <img src="assets/image2.jpg" class="d-block w-100" alt="image2.jpg" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <section>
          <h4>App Mi Bancolombia</h4>
          <h1>Descárgala Antes del 25 de marzo</h1>
          <span>Ese día apagamos la app anterior. Hazlo de una. Sin correr a última
            hora</span>
        </section>
        <img src="assets/image3.jpg" class="d-block w-100" alt="image3.jpg" />
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <div class="colorButon">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <div class="colorButon"> <span class="carousel-control-next-icon " aria-hidden="true"></span></div>
    <span class="visually-hidden">Next</span>
  </button>
</div>